body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

h1 {
    position: relative;
    color: #333;
    margin-bottom: 10px;
    font-size: 44px;
}

.container {
    position: relative;
    text-align: center;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
    display: inline-block;
}

p {
    color: #fff;
}

form {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center; /* Align items vertically in the input container */
}

input[type="text"] {
    flex: 1; /* Allow input to take remaining space */
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

input::placeholder {
    font-size: 18px;
}

button[type="submit"] {
    font-size: 18px;
    background-color: #555;
    color: #fff;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-box {
    width: 300px;
    max-height: 700px;
    margin-top: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    display: none;
    font-size: 16px;
}

.centered-text {
    text-align: center;
}

.bottom-left-text {
    position: relative;
    bottom: -10px;
    right: 30%;
}

.centered-text p, .bottom-left-text p {
    color: #000;
    margin: 2px;
}

.downloadBtn{
    position: relative;
    margin-top: 15px;
    display: none;
}

.github-link {
    position: fixed;
    top: 30px;
    right: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.github-icon {
    width: 40px;
    height: auto;
    margin-right: 7px;
}

.github-text {
    font-size: 17px;
}

footer {
    position: relative;
    top: 230px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px 5px;
    font-size: 14px;
    border-radius: 7px;
}

footer a {
    color: #fff;
    font-size: 19px;
}

.loading-spinner {
    position: relative;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #333;
    width: 40px;
    height: 40px;
    top: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

#loadingSign p{
    position: relative;
    top: 30px;
}

a.link-preview-box{
    text-decoration: none;
    color: inherit;
    font-size: 11px;
}

.link-preview-content {
    display: block;
    max-width: 60%;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    color: inherit;
}

.link-preview-content:hover {
    background-color: #f5f5f5;
}

a.link-preview-box .link-preview-content {
    display: flex;
    align-items: center;
}

a.link-preview-box img {
    max-width: 100%;
}

a.link-preview-box strong {
    font-weight: bold;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Additional styles for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .container {
        width: 80%;
    }

    footer{
        top: 210px;
    }
}

/* Styles for even smaller screens (e.g., mobile phones) */
@media (max-width: 480px) {
    body{
        overflow-y: auto;
    }

    h1 {
        font-size: 24px;
    }

    .container {
        width: 90%;
        height: 25%;
    }

    .github-link {
        top: 10px;
        right: 10px;
    }

    .input-container {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"] {
        width: 90%;
        margin-right: 0;
        margin-bottom: 15px; /* Remove margin for small screens */
    }

    input::placeholder {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 16px;
        padding: 15px 20px;
    }

    .result-box{
        top: 40px;
    }

    .downloadBtn{
        top: 40px;
    }

    .github-icon {
        top: 30px; 
        width: 30px;
        margin-right: 5px;
    }

    .github-text {
        font-size: 14px;
    }
}